@{
    ViewBag.Title = "Index";
}

<div ng-controller="PingisCtrl" ng-init="init('@ViewBag.CurrentUserId')">
    <!-- Modals -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{selectedMatch.Challenger.DisplayName}} vs {{selectedMatch.Opponent.DisplayName}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4 text-right"><input type="number" ng-model="selectedMatch.ChallengerPoints" /></div>
                        <div class="col-xs-4 text-center">:</div>
                        <div class="col-xs-4 text-left"><input type="number" ng-model="selectedMatch.OpponentPoints" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveMatch(selectedMatch)" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <div ng-hide="currentUserIsRegistered == false">
        <a class="btn btn-info" ng-click="unregisterMe()">Unregister</a>

        <h1>My Matches</h1>

        <div class="challenge">
            <select ng-model="selectedUserToChallenge">
                <option ng-repeat="user in users" value="{{user.UserId}}">
                    {{user.DisplayName}}
                </option>
            </select>
            <input type="button" class="btn btn-success" ng-click="challenge()" value="Challenge" />
        </div>


        <div class="row">

            <div class="col-md-4">
                <h3>Challenged</h3>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="match in mychallengedmatches">
                        {{match.Challenger.DisplayName}} vs {{match.Opponent.DisplayName}}

                        <span ng-hide="match.Challenger.UserId == currentUserId">
                            <a class="btn btn-success" ng-click="acceptMatch(match.MatchId)">Accept</a> <a class="btn btn-danger" ng-click="declineMatch(match.MatchId)">Decline</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Upcoming</h3>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="match in myupcomingmatches">
                        {{match.Challenger.DisplayName}} vs {{match.Opponent.DisplayName}}

                        <span>
                            <a class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="selectMatch(match)">Finish Game</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Last played games</h3>

                @*<table class="table">
                    <tr ng-repeat="match in myplayedmatches">

                    </tr>
                </table>*@

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="match in myplayedmatches">
                        {{match.Challenger.DisplayName}} {{match.ChallengerPoints}} : {{ match.OpponentPoints }} {{match.Opponent.DisplayName}}  

                        <span class="label label-success" ng-hide="(match.Challenger.UserId == currentUserId && match.ChallengerPoints < match.OpponentPoints) || (match.Challenger.UserId != currentUserId && match.ChallengerPoints > match.OpponentPoints)">WON</span>
                        <span class="label label-danger" ng-hide="(match.Challenger.UserId == currentUserId && match.ChallengerPoints > match.OpponentPoints) || (match.Challenger.UserId != currentUserId && match.ChallengerPoints < match.OpponentPoints)">LOST</span>
                    </li>
                </ul>
            </div>

        </div>

        <h1>All Matches</h1>
        <div class="row">
            <div class="col-xs-12">


                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="match in matches">
                            <td>
                                {{match.Timestamp}}
                            </td>
                            <td>
                                {{match.Challenger.DisplayName}} {{match.ChallengerPoints}} : {{ match.OpponentPoints }} {{match.Opponent.DisplayName}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="match in matches">
                        {{match.Challenger.DisplayName}} {{match.ChallengerPoints}} : {{ match.OpponentPoints }} {{match.Opponent.DisplayName}}
                    </li>
                </ul>

            </div>

        </div>

    </div>
    <div ng-hide="currentUserIsRegistered == true">
        <a class="btn btn-info" ng-click="registerMe()">Register</a>
    </div>
</div>
