@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pingis Tracking App</h1>
    <p class="lead">
        Pingis tracking app to keep track of all Ping-Pong matches played at ÅF in karlstad.
        <br />
        This project is hosted on GitHub and hosted in Azure using Azure Web Sites, Azure AD B2C and Azure Table Storage.
    </p>
    <p><a href="https://github.com/syron/gametrackingapp" target="_blank" class="btn btn-primary btn-large">View Source Code &raquo;</a></p>
</div>